


body {
     background-color:grey; 
    background-repeat: no-repeat;
    background-size: cover;
   
   
   }



   /*RWD*/

   .containerr{
    width: 1000px; 
    margin:auto;
}

@media(max-width:600px) and (orientation:landscape){
    .containerr {
        width:100%; 
        margin:auto;
    }
}

@media(max-width:600px) and (orientation:portrait){
    .containerr {
        width:100%; 
        margin:auto;
    }
}

@media(min-width:601px) and (max-width:768px){
    .containerr {
        width:100%; 
        margin:auto;
    }
}



#current{
    color: red;
    border-bottom: 1px solid;
    
}




/*Form*/

.request{
    min-height: 300px;
    /* width:100%; */
    margin-top: 8%;

}


.form-header{
    
    
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 100px;
    width:40%;
    background-color:#e6e6e6 ;
    border-bottom: 1px solid #13044e;
    padding:20px 40px;
    color:#13044e;
    margin-top: 10%;
        
}



form input{

    display:block;
    font-size:15px;
    /* padding:5px; */
    margin-left: 20px;
}




form button{
    background-color:red;
    color:white;
    border:2px solid #8e44;
    padding:10px;
    width:100px;
    font-size: 15px;
    margin-left: 20px;
    
    
}






/*contact*/

#branding-11 {
    min-height: 400px;
    background-color: #e6e6e6;
    color:#13044e; 
    padding:20px;
}



#branding-11 h3 {
    text-transform: uppercase;
    margin-left: 30px;
 }


#branding-11 p{
    margin-left:30px;
    font-size: 18px;
    width: 100%;
    /* height: 20%; */
    margin-top: 30px;
}




/*section-media*/

.containerr .branding-2{

        min-height: 20px;
        background-color:#e6e6e6;
        color:#13044e;
        font-weight: 400px;
        padding:20px;
    }

 
     .branding-2 p{
        margin-left:23px;
        font-size: 18px;
        color:#0d0c11;

    } 


    .branding-2 a{

        margin-left:20px;
    }

    .link{
        margin-left:40%;
    }


    .branding-2 h3{
        margin-left:23px;
        font-size: 18px;
        color:#0d0c11;

    } 




    
    


   







/*newsltter*/

#newsletter{
    background:gray;
     padding: 15px; 
    width:none;
    color:white;
    border-bottom:orange 5px solid;
    min-height:70px;
    /* font-size: 20px;
    margin-top: 15px; */
    
}


#newsletter h3{
        font-size: 20px;
}





#newsletter form { 
     margin-left: 60%; 
     margin-top:-40px;


}

 
 

/* #newsletter input [ type="email"] {
    
    font-size: 18px;
    height: 25px;
    padding:4px; 
} */



#newsletter form input{
    width:240px;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 15px;
    margin-top: 20px;

}


#newsletter .button_1{
    color:white;
    background: red;
    margin-left: 20%;
    /* margin-top: -60%; */
}



/*footer*/



footer  {
    padding:20px;
    margin-left:40%;
    color:whitesmoke;
    /* background-color: black; */
    font-weight:100px;

    
}






@media(max-width:600px) and (orientation:landscape){
    .containerr {
        width:100%; 
        margin:auto;
    }
}

@media(max-width:600px) and (orientation:portrait){
    .containerr {
        width:100%; 
        margin:auto;
    }


    .request .branding .form-header{
    
        background-position: center;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 100px;
        width:100%;
        background-color:#e6e6e6 ;
        border-bottom: 1px solid #13044e;
        padding:10px 40px;
        color:#13044e;
        margin-top: 30%;
            
    }



    .branding h4 {
        /* text-transform: uppercase; */
        width:50%;

     }
    



    /*contact*/

#branding-11 {
    background-position: center;
    min-height: 400px;
    background-color: #e6e6e6;
    color:#13044e; 
    padding:20px;
    width:100%
}



    
#branding-11 h3 {
    text-transform: uppercase;
    margin-left: 30px;
    text-align: center;
    margin-top: 40px;
    }



 #branding-11 p{
    margin-left:30px;
    font-size: 18px;
    width: 100%;
    /* height: 20%; */
    margin-top: 30px;
    }



/*section-media*/

.containerr .branding-2{


    background-position: center;
    min-height: 20px;
    background-color:#e6e6e6;
    color:#13044e;
    font-weight: 400px;
    padding:10px;
    width:100%;
}



.branding-2 a{

    margin-left:10px;
    }

.link{
    margin-left:20%;
    }




/*newsltter*/

#newsletter{
    background-position: center;
    background:gray;
     padding: 15px; 
    width:none;
    color:white;
    border-bottom:orange 5px solid;
    min-height:150px;
     width:100%;
    
    }


#newsletter h3{
        font-size: 20px;
        text-align: center;
    }


#newsletter form { 
    /* margin-left: -5%; */
    margin-top:-5%;


    }


 #newsletter form input {
   
   font-size: 18px;
   height: 25px;
   padding:4px;
   margin-left: -110%; 
    } 





#newsletter .button_1{
    color:white;
    background: red;
    margin-top: 15px;
    margin-left: -110px;
    }



/*footer*/



    footer  {
    padding:10px;
    margin-left:10%;
    color:whitesmoke;
    /* background-color: black;  */
    font-weight:100px;

    
    }




}

@media(min-width:601px) and (max-width:768px){
    .containerr {
        width:100%; 
        margin:auto;
    }
}







   
   